<div class="main">
  <section
    class="module bg-dark-30"
    data-background="assets/images/section-4.jpg"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="module-title font-alt mb-0">Login-Register</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
          <h4 class="font-alt">Login</h4>
          <hr class="divider-w mb-10" />
          <!-- Login form -->
          <form
            class="form"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmitLogin()"
          >
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Username"
                formControlName="username"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                loginForm.get('username').invalid &&
                loginForm.get('username').touched
              "
            >
              Username invalid
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                loginForm.get('password').invalid &&
                loginForm.get('password').touched
              "
            >
              Password invalid
            </div>
            <div class="form-group">
              <button class="btn btn-round btn-b" type="submit">Login</button>
            </div>
            <div class="form-group"><a href="">Forgot Password?</a></div>
          </form>
        </div>
        <div class="col-sm-5">
          <h4 class="font-alt">Register</h4>
          <hr class="divider-w mb-10" />
          <!-- Register form -->
          <form
            class="form"
            [formGroup]="registerForm"
            (ngSubmit)="onSubmitRegister()"
          >
            <div class="form-group">
              <input
                class="form-control"
                type="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('email').invalid &&
                registerForm.get('email').touched
              "
            >Invalid email</div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Username"
                formControlName="username"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('username').invalid &&
                registerForm.get('username').touched
              "
            >Invalid username</div>
            <fieldset formGroupName="pwGroup">
              <div class="form-group">
                <input
                  class="form-control"
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="password"
                  placeholder="Re-enter Password"
                  formControlName="confirmPassword"
                />
              </div>
            </fieldset>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('pwGroup').invalid && registerForm.get('pwGroup').touched">
                Invalid password
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-round btn-b" type="submit">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
